.btn-create {
  flex: 0 0 50px !important;
}
.user-list {
  min-width: 260px;
  max-width: 600px;
  margin: 5vh auto auto;
  text-align: center;
}
.user-list-icon {
  flex: 0 0 50px !important;
  white-space: unset !important;
}