@import "../view-devices/view-devices.component.css";

.battery {
  position: absolute;
  right: 1em;
  vertical-align: sub;
  cursor: help;
}
.battery-ok {
  color: #006000;
}
.battery-middle {
  color: #4d8000;
}
.battery-low {
  color: #ff6e00;
}
.battery-alert {
  color: red;
}
.updating-icon {
  float: left;
}
.updating-text {
  height: 1.8em;
}
.temperature-btn {
  vertical-align: sub;
  cursor: pointer;
}
.temperature-header {
  text-align: left !important;
}
.window-open {
  text-align: left !important;
  min-width: 90px;
}
.stats-icon {
  cursor: pointer;
  vertical-align: text-bottom;
}
.stats-label {
  float: left;
}
.error-code {
  color: red;
  float: right;
  vertical-align: sub;
  cursor: pointer;
}