<div *ngIf="devices?.length" class="device-container">
  <div *ngFor="let device of devices">
    <mat-card class="device-item">
      <mat-card-title>
        <mat-icon class="device-widget-collapse" title="Details" (click)="onToggleWidgetCollapse(device)">{{getWidgetCollapseSymbol(device)}}</mat-icon>
        <span class="title-small" (click)="onToggleWidgetCollapse(device)" title="{{device.name}}">&nbsp;{{getTrimmedDeviceName(device)}}&nbsp;</span>
        <mat-icon *ngIf="!device.present" class="device-state-not-present" title="Not available!">link_off</mat-icon>
        <span *ngIf="device.present" class="battery {{getBatterySymbolStyle(device)}}" title="{{device.batteryLevel}}%"><mat-icon>{{getBatterySymbol(device)}}</mat-icon></span>
        <span *ngIf="device.errorCode" class="error-code" title="Error: E{{device.errorCode}}"><mat-icon>warning</mat-icon></span>
      </mat-card-title>
      <mat-card-subtitle class="switch-card-subtitle">
        {{getDeviceSummary(device)}}
      </mat-card-subtitle>
      <br>
      <mat-card-content class="switch-card-content" *ngIf="!isWidgetCollapse(device)" [@detailsFading]>
        <table class="device-info">
          <tr>
            <td colspan="2">
              <hr>
            </td>
          </tr>
          <tr>
            <td>Desired Temperature</td>
            <td>
              <span>
                <mat-icon color="primary" class="temperature-btn" (click)="decrementTemperature(device)">remove_circle</mat-icon>
                {{getSetTemperature(device)}}°C
                <mat-icon color="primary" class="temperature-btn" (click)="incrementTemperature(device)">add_circle</mat-icon>
              </span>
            </td>
          </tr>
          <tr>
            <td>Comfort Temperature</td>
            <td>{{getComfortTemperature(device)}}°C</td>
          </tr>
          <tr>
            <td>Economy Temperature</td>
            <td>{{getEconomyTemperature(device)}}°C</td>
          </tr>
          <tr>
            <td>Window Open?</td>
            <td>{{device.windowOpen ? "Yes!" : "No"}}</td>
          </tr>
          <tr>
            <td colspan="2" class="device-fw">
              <hr>
              <span>AIN: {{device.ain}}, FW: {{device.firmware}}</span>
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="warn-text" *ngIf="error">An error occurred! Error code: {{error}}</div>
