<div class="main-div">
  <mat-card class="center">
    <mat-card-title>Welcome to Homie Center</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="appInfoService.userStatus === null">
        <p>
          Please login with your FRITZ!Box credentials.
        </p>
        <br>
        <a mat-raised-button color="primary" routerLink="login" routerLinkActive="active">Login</a>
      </div>
    </mat-card-content>
  </mat-card>
  <div *ngIf="appInfoService.userStatus">
    <mat-expansion-panel [(expanded)]="appInfoService.camerasExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>Switch Devices
          <span *ngIf="appInfoService.switchDeviceCount > 0" class="device-count">({{appInfoService.switchDeviceCount}})</span>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <app-view-switch-devices></app-view-switch-devices>
    </mat-expansion-panel>
    <mat-expansion-panel [(expanded)]="appInfoService.switchDevicesExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>IP Cameras
          <span *ngIf="appInfoService.cameraCount > 0" class="device-count">({{appInfoService.cameraCount}})</span>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <app-view-camera></app-view-camera>
    </mat-expansion-panel>
  </div>
</div>
