<div *ngIf="pageReady">
  <div *ngIf="!appInfoService.isUserAuthenticated()">
      <h2>Welcome to Homie Center</h2>
      <p>
        Please login to proceed.
      </p>
      <br>
      <a mat-raised-button color="primary" routerLink="/nav/login" routerLinkActive="active">Login</a>
  </div>
  <div *ngIf="appInfoService.isUserAuthenticated()">
    <mat-expansion-panel [(expanded)]="appInfoService.camerasExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>Switch Devices
          <span *ngIf="appInfoService.switchDeviceCount > 0" class="device-count">({{appInfoService.switchDeviceCount}})</span>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <app-view-switch-devices></app-view-switch-devices>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel [(expanded)]="appInfoService.switchDevicesExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>IP Cameras
          <span *ngIf="appInfoService.cameraCount > 0" class="device-count">({{appInfoService.cameraCount}})</span>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <app-view-camera></app-view-camera>
    </mat-expansion-panel>
  </div>
</div>
