@import "../view-devices/view-devices.component.css";

.device-state-switch-on {
  color: gold;
  float: right;
  vertical-align: sub;
}
.device-state-switch-off {
  color: grey;
  float: right;
  vertical-align: sub;
}
