<h3 *ngIf="!devices?.length">There are no switch devices!</h3>
<div *ngIf="devices?.length" class="main-div device-container">
  <div *ngFor="let device of devices">
    <mat-card class="device-item">
      <mat-card-title>
        <mat-icon class="dummy-left-element"></mat-icon>
        <span>{{device.name}}</span>
        <mat-icon *ngIf="device.present" class="device-state-present" title="Available">link</mat-icon>
        <mat-icon *ngIf="!device.present" class="device-state-not-present" title="Not available!">link_off</mat-icon>
      </mat-card-title>
      <mat-card-subtitle>
        AIN: {{device.ain}}, FW: {{device.firmware}}
      </mat-card-subtitle>
      <br>
      <mat-card-content>
        <table class="device-info">
          <tr>
            <td>State</td>
            <td>Off <mat-slide-toggle color="primary" [disabled]="!device.present" [(ngModel)]="device.on" (click)="toggleState(device)"></mat-slide-toggle> On</td>
          </tr>
          <tr>
            <td>Power</td>
            <td>{{getPower(device)}} Watt</td>
          </tr>
          <tr>
            <td>Voltage</td>
            <td>{{getVoltage(device)}} Volt</td>
          </tr>
          <tr>
            <td>Temperature</td>
            <td>{{getTemperature(device)}} °C</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="warn-text" *ngIf="error">An error occurred! Error code: {{error}}</div>
</div>
