@import "../view-devices/view-devices.component.css";

.device-state-switch-on {
  color: gold;
}
.device-state-switch-off {
  color: grey;
}
.switch-state-icons {
  position: absolute;
  right: 2em;
  cursor: pointer;
  vertical-align: sub;
}
.switch-state-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.stats-icon {
  cursor: pointer;
  vertical-align: sub;
}