<div *ngIf="devices?.length" class="device-container">
  <div *ngFor="let device of devices">
    <mat-card class="device-item">
      <mat-card-title>
        <mat-icon class="device-widget-collapse" title="Details" (click)="onToggleWidgetCollapse(device)">{{getWidgetCollapseSymbol(device)}}</mat-icon>
        <span class="title-small" (click)="onToggleWidgetCollapse(device)" title="{{device.name}}">&nbsp;{{getTrimmedDeviceName(device)}}&nbsp;</span>
        <mat-icon *ngIf="!device.present" class="device-state-not-present" title="Not available!">link_off</mat-icon>
        <span *ngIf="device.present" class="{{getSwitchStateStyle(device)}}"><mat-icon>wb_incandescent</mat-icon></span>
      </mat-card-title>
      <mat-card-subtitle class="switch-card-subtitle">
        {{getDeviceSummary(device)}}
      </mat-card-subtitle>
      <br>
      <mat-card-content class="switch-card-content" *ngIf="!isWidgetCollapse(device)" [@widgetSpan]>
        <table class="device-info">
          <tr>
            <td colspan="2">
              <hr>
            </td>
          </tr>
          <tr>
            <td class="switch-left-column">
              <span>
                <mat-icon *ngIf="device.present && !device.unlocked" color="primary" class="device-lock" title="Unlock Switch" (click)="onToggleLock(device)">lock</mat-icon>
                <mat-icon *ngIf="device.present && device.unlocked" color="primary" class="device-lock" title="Lock Switch" (click)="onToggleLock(device)">lock_open</mat-icon>
                <mat-icon *ngIf="device.updating" class="switching-icon" [@iconRotation] color="primary" title="Updating...">autorenew</mat-icon>
                <span>State</span>
              </span>
            </td>
            <td>Off <mat-slide-toggle color="primary" [(disabled)]="!device.present || !device.unlocked" [(ngModel)]="device.on" (click)="onToggleState(device)"></mat-slide-toggle> On</td>
          </tr>
          <tr>
            <td>Power</td>
            <td>{{getPower(device)}} Watt</td>
          </tr>
          <tr>
            <td>Temperature</td>
            <td>{{getTemperature(device)}}°C</td>
          </tr>
          <tr>
            <td colspan="2" class="device-fw">
              <hr>
              <span>AIN: {{device.ain}}, FW: {{device.firmware}}</span>
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="warn-text" *ngIf="error">An error occurred! Error code: {{error}}</div>
