<mat-card class="center">
  <mat-card-title>User Login</mat-card-title>
  <mat-card-subtitle>
    Please login with your FRITZ!Box credentials.
  </mat-card-subtitle>
  <br>
  <mat-card-content>
    <form class="input-form">
      <div>
        <mat-form-field>
          <input matInput autofocus placeholder="User Name" name="login" [(ngModel)]="credentials.login">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="credentials.password">
        </mat-form-field>
      </div>
      <br>
      <div class="input-form-buttons">
        <button mat-raised-button type="submit" color="primary" (click)="login()">Login</button>
      </div>
    </form>
  </mat-card-content>
  <div class="warn-text" *ngIf="error">{{error}}</div>
</mat-card>
