<div>
  <h2 mat-dialog-title>Statistics: {{title}}
    <mat-icon *ngIf="!deviceStats" [@iconRotation] class="updating-icon" color="primary" title="Retrieving Data...">autorenew</mat-icon>
  </h2>
  <mat-dialog-content class="mat-typography">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>Energy</ng-template>
        <app-bar-chart-component #energyChart></app-bar-chart-component>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Temperature</ng-template>
        <app-bar-chart-component #temperatureChart></app-bar-chart-component>
      </mat-tab>
    </mat-tab-group>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="buttonText">{{buttonText}}</button>
  </mat-dialog-actions>
</div>