<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="onHome()">Home</button>
      <button mat-menu-item *ngIf="appInfoService.userStatus" (click)="onLogout()">Logout</button>
      <button mat-menu-item *ngIf="!appInfoService.userStatus" (click)="onLogin()">Login</button>
      <button mat-menu-item *ngIf="appInfoService.userStatus?.role == 'ADMIN'" (click)="onCreateCamera()">Add IP Camera</button>
      <button mat-menu-item *ngIf="appInfoService.userStatus?.role == 'ADMIN'" (click)="onUsers()">Manage Users</button>
      <button mat-menu-item *ngIf="appInfoService.userStatus?.role != 'ADMIN'" (click)="onUsers()">Edit User</button>
      <button mat-menu-item (click)="onAbout()">About</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="center">{{getMenuTitle()}}</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button (click)="onHome()"><img src="/favicon.ico" height="48" width="48"></button>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<router-outlet></router-outlet>

<br>

<footer>
  <mat-toolbar color="primary">
    <span class="mat-small">
      Homie Center v{{appInfoService.version}}
      <br>
      <small>Copyright 2018</small>
    </span>
    <div class="mat-small footer-username">
      <span *ngIf="appInfoService.userStatus">
        User: {{appInfoService.userStatus.name}}
        <br>
        <small>Timeout in {{appInfoService.logoutTimeString}}</small>
      </span>
    </div>
  </mat-toolbar>
</footer>
