<div class="main-div">
  <mat-card class="center">
    <mat-card-title>About {{appInfo.name}}</mat-card-title>
    <mat-card-subtitle>A Web Application for Accessing Home Automation Devices via FRITZ!Box</mat-card-subtitle>
    <mat-card-content>
      <div>
        <img src="/favicon.ico" height="128" width="128">
        <div>
          <p>Copyright 2018, Botorabi</p>
          <a href="https://github.com/botorabi/HomieCenter">https://github.com/botorabi/HomieCenter</a>
          <p>Version {{appInfo.version}}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
