<mat-card class="user-card">
  <mat-card-title>Edit User</mat-card-title>
  <mat-card-subtitle>Edit the user data.</mat-card-subtitle>
  <mat-card-content>
    <br>
    <form class="input-form">
      <div>
        <mat-form-field>
          <mat-label>Real Name</mat-label>
          <input matInput autofocus placeholder="Real Name" name="realName" [(ngModel)]="user.realName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Login (use at least 5 lower case letters or numbers)</mat-label>
          <input [readonly]="user.id != 0" matInput placeholder="Login" name="userName" [(ngModel)]="user.userName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="user.password">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="password" placeholder="Password Repeat" name="passwordRepeat" [(ngModel)]="passwordRepeat">
        </mat-form-field>
      </div>
      <div class="admin-checkbox">
        <mat-checkbox color="primary" [disabled]="!canModifyAdminFlag()" [(ngModel)]="user.admin" name="admin">Administrator</mat-checkbox>
      </div>
      <br>
      <div class="input-form-buttons">
        <span class="button-spacer"></span>
        <button mat-raised-button color="primary" type="button" routerLink="/nav/user" routerLinkActive="active">Cancel</button>
        <button *ngIf="user.id != 0" mat-raised-button type="submit" color="primary" (click)="onApply()">Apply</button>
        <button *ngIf="user.id == 0" mat-raised-button type="submit" color="primary" (click)="onCreate()">Create</button>
        <span class="button-spacer"></span>
      </div>
    </form>
    <br>
  </mat-card-content>
</mat-card>
<br>
<div class="warn-text" *ngIf="error">{{error}}</div>
